.DesignAreaWrapper{
    display: flex;
    padding: 20px 100px;
    width: 100%;
    height: 100%;
}

.sideButton{
    background: #fe3e61;
    width: 100px;
    height: 50px;
    border: none;
    color: #fff;
    margin: 5px 10px;
}

.sideButtonsWrapper{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    top: 100px;
    left: 200px;
}

.t-shirtWrapper{
    /* border: 1px solid black; */
    width: 60%;
    height: auto;
    overflow: hidden;
    /* height: 800px; */
    /* position: relative; */
    left: 350px;
    top: -50px;
    display: flex;
    /* justify-content: center;
    align-items: center; */

}

.t-shirtWrapper > img{
    width: 100%;
    object-fit: contain;
}

.blue{
    filter: hue-rotate(220deg)
}

.purple{
    filter: hue-rotate(300deg)
}

.green{
    filter: hue-rotate(-220deg);
}

.black{
    filter: hue-rotate(-180deg) brightness(20%)
}


.colorList{
    /* position: absolute; */
    top: 0;
    right: 0;
}

.colorList > li{
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid rgb(255, 218, 98);
}

#blueColor{
    background: blue;
}

#purpleColor{
    background: rgb(240, 93, 240);
}

#greenColor{
    background: green;
}

#blackColor{
    background: black;
}

#redColor{
    background: red;
}

#whiteColor{
    background: white;
}

.active{
    border: 4px solid red;
}

